button:active,
button:focus {
    outline: none;
}
.pagination {
    li {
        width: 30px;
        height: 30px;
        border: 1px solid #eee;
        border-radius: 4px;
        & + li {
            margin-left: 5px;
        }
        &:not(.disabled):hover {
            background-color: #eee;
        }
        &.active {
            color: red;
            background-color: #eee;
            border-color: red;
            font-weight: 500;
        }
        &.disabled a {
            cursor: not-allowed;
        }
        a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.form {
    margin-bottom: 20px;
    .action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 10px 20px;
            width: 80px;
            height: 34px;
            border: 0;
            border-radius: 4px;
            color: #fff;
            font-weight: 500;
            &.cancel {
                background-color: #ca0000;
            }
            &.save {
                background-color: #039c0a;
            }
        }
    }
    .text-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        .mess-validate {
            margin: 4px 0 0 4px;
            color: red;
        }
    }
}

@media (min-width: 0) and (max-width: 500px) {
    .form .text-box {
        display: inline;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
    .text-box-item {
        margin-top: 5px;
    }
}
@media (min-width: 501) and (max-width: 750px) {
    .form .text-box {
        display: inline;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
    .text-box-item {
        margin-top: 5px;
    }
}

.navbar-collapse {
    transition: all 0.5s ease 0s;
}
